<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header top-header-style-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content">
                        <ul class="contact-info">
                            <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+1-(514)-312-5678">+91 9833558933</a>
                            </li>
                        </ul>
                        <ul class="social-icon">
                            <li>
                            <a href="https://www.facebook.com/" target="_blank">
                            <i class="bx bxl-facebook"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://www.instagram.com/" target="_blank">
                            <i class="bx bxl-instagram"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                            <i class="bx bxl-linkedin-square"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://twitter.com/" target="_blank">
                            <i class="bx bxl-twitter"></i>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <ul class="my-account">
                            <li>
                            <a routerLink="/login" routerLinkActive="active">
                            <i class="bx bxs-user"></i>
                            Login </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->
    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-area-style-three">
        
        <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Bootstrap 5</a>
              <button
                class="navbar-toggler"
                type="button"
                (click)="collapse.toggle()"
                aria-controls="main-nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span
                  class="
                    navbar-toggler-icon
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                </span>
              </button>
              <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Some very long Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Some very long Link</a>
                  </li>
                </ul>
              </ngx-navbar-collapse>
            </div>
          </nav>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one">
                        </div>
                        <div class="circle circle-two">
                        </div>
                        <div class="circle circle-three">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>
                                <div class="search-overlay search-popup">
                                    <div class="search-box">
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">
                                            <button class="search-button" type="submit">
                                            <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="get-quote">
                                <a href="" class="default-btn">
                                Get Appointment </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->