<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header top-header-style-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content">
                        <ul class="contact-info">
                            <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+1-(514)-312-5678">+91 9833558933</a>
                            </li>
                        </ul>
                        <ul class="social-icon">
                            <li>
                            <a href="https://www.facebook.com/" target="_blank">
                            <i class="bx bxl-facebook"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://www.instagram.com/" target="_blank">
                            <i class="bx bxl-instagram"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                            <i class="bx bxl-linkedin-square"></i>
                            </a>
                            </li>
                            <li>
                            <a href="https://twitter.com/" target="_blank">
                            <i class="bx bxl-twitter"></i>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <ul class="my-account">
                            <li>
                            <a routerLink="/login" routerLinkActive="active">
                            <i class="bx bxs-user"></i>
                            Login </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->
    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-area-style-three">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu mean-container"><div class="mean-bar"><a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;"><span><span><span></span></span></span></a><nav class="mean-nav">
                    <ul class="navbar-nav m-auto" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                                <i class="bx bx-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu" style="display: none;">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Home One</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link">Home Two</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-3.html" class="nav-link active">Home Three</a>
                                </li>
                            </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pages
                                <i class="bx bx-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu" style="display: none;">
                                <li class="nav-item">
                                    <a href="about-us.html" class="nav-link">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Portfolio
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
        
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="portfolio-column-two.html" class="nav-link">Portfolio Column Two</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="portfolio-column-three.html" class="nav-link">Portfolio Column Three</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="portfolio-column-four.html" class="nav-link">Portfolio Column Four</a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-conditions.html" class="nav-link">Terms &amp; Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                        <i class="bx bx-chevron-down"></i>
                                    </a>
        
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li class="nav-item">
                                            <a href="my-account.html" class="nav-link">My Account</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="log-in.html" class="nav-link">Log In</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">Register</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="recover-password.html" class="nav-link">Recover Password</a>
                                        </li>
                                    </ul>
                                <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>
                                <li class="nav-item">
                                    <a href="our-experts.html" class="nav-link">Our Experts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="partner-details.html" class="nav-link">Partner Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="appointment.html" class="nav-link">Appointment</a>
                                </li>
                                <li class="nav-item">
                                    <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                </li>
                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">404 Error Page</a>
                                </li>
                            </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Services
                                <i class="bx bx-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu" style="display: none;">
                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a href="services-details.html" class="nav-link">Services Details</a>
                                </li>
                            </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Shop
                                <i class="bx bx-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu" style="display: none;">
                                <li class="nav-item">
                                    <a href="products.html" class="nav-link">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="wishlist.html" class="nav-link">Wishlist</a>
                                </li>
                                <li class="nav-item">
                                    <a href="shopping-cart.html" class="nav-link">Shopping cart</a>
                                </li>
                                <li class="nav-item">
                                    <a href="checkout.html" class="nav-link">Checkout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="product-details.html" class="nav-link">Product Details</a>
                                </li>
                            </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                News
                                <i class="bx bx-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu" style="display: none;">
                                <li class="nav-item">
                                    <a href="news.html" class="nav-link">News</a>
                                </li>
                                <li class="nav-item">
                                    <a href="news-details.html" class="nav-link">News Details</a>
                                </li>
                            </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a></li>

                        <li class="nav-item mean-last">
                            <a href="contact-us.html" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    
                    <div class="others-option">
                        <div class="option-item">
                            <i class="search-btn bx bx-search"></i>
                            <i class="close-btn bx bx-x"></i>
                            
                            <div class="search-overlay search-popup">
                                <div class="search-box">
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="Search" type="text">

                                        <button class="search-button" type="submit">
                                            <i class="bx bx-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="get-quote">
                            <a href="appointment.html" class="default-btn">
                                Get Appointment
                            </a>
                        </div>
                    </div>
                </nav></div>
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            </div>
        </div>
        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="{{imageSrc}}" alt="{{imageAlt}}" />
                </a>
                <div class="collapse navbar-collapse mean-menu" style="display: block;">
                    <ul class="navbar-nav m-auto">
                        <!--<li class="nav-item">
                            <a routerLink="/" routerLinkActive="active" class="nav-link">
                            Home </a>
                            </li>-->
                        <li class="nav-item">
                        <a routerLink="/about" routerLinkActive="active" class="nav-link">
                        About </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/service/serviceslist" routerLinkActive="active" class="nav-link">
                                Services <i class="bx bx-chevron-down"></i>
                             </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                            <a routerLink="/service/serviceslist" routerLinkActive="active" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                            <a routerLink="/service/dailymealplan" routerLinkActive="active" class="nav-link">Daily Meal</a>
                            </li>
                        </ul>
                        </li>
                        
                        <li class="nav-item">
                        <a routerLink="/recipes" routerLinkActive="active" class="nav-link">
                        Recipes <i class="bx bx-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                            <a href="" class="nav-link">Veg</a>
                            </li>
                            <li class="nav-item">
                            <a href="" class="nav-link">Non Veg</a>
                            </li>
                        </ul>
                        </li>
                        <li class="nav-item">
                        <a routerLink="/success-stories" routerLinkActive="active" class="nav-link">Success Stories</a>
                        </li>
                        <li class="nav-item">
                        <a routerLink="/contact-us" routerLinkActive="active" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    <div class="others-option">
                        <div class="get-quote">
                            <a href="#book_appointment" class="default-btn">
                            Book An Appointment </a>
                        </div>
                    </div>
                </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one">
                        </div>
                        <div class="circle circle-two">
                        </div>
                        <div class="circle circle-three">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>
                                <div class="search-overlay search-popup">
                                    <div class="search-box">
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">
                                            <button class="search-button" type="submit">
                                            <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="get-quote">
                                <a href="" class="default-btn">
                                Get Appointment </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->