<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="{{imageSrc}}" alt="{{imageAlt}}" />
                    </a>
                    <p>Slimnfit is a complete online and face to face diet clinic which is run by experienced Dietitian Shailaja Prabhu, helps to provide qualitative online Diet chart / diet plan .</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>
                    <ul class="address">
                        <li class="location">
                        <i class="bx bx-location-plus"></i>
                        Mumbai,Maharashtra </li>
                        <li>
                        <i class="bx bx-envelope"></i>
                        <a href="mailto:info@slimnfit.co.in">info@slimnfit.co.in</a>
                        </li>
                        <li>
                        <i class="bx bx-phone"></i>
                        <a href="tel:+91 9833558933">+91 9833558933</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="import-link">
                        <li>
                        <a href="">Our Expert</a>
                        </li>
                        <li>
                        <a href="">Contact Us</a>
                        </li>
                        <li>
                        <a href="">FAQs</a>
                        </li>
                        <li>
                        <a href="">Terms of Use</a>
                        </li>
                        <li>
                        <a href="">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Follow us</h3>
                    <ul class="social-icon">
                        <li>
                        <span>Don't stop here. Stay connected with us</span>
                        </li>
                        <li>
                        <a href="https://www.facebook.com/" target="_blank">
                        <i class="bx bxl-facebook"></i>
                        </a>
                        </li>
                        <li>
                        <a href="https://www.instagram.com/" target="_blank">
                        <i class="bx bxl-instagram"></i>
                        </a>
                        </li>
                        <li>
                        <a href="https://twitter.com/" target="_blank">
                        <i class="bx bxl-twitter"></i>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row rights">
            <div class="col-lg-6 col-md-12 footer-copyright">Slimnfit © 2022. All Rights Reserved</div>
            <div class="col-lg-6 col-md-12 footer-designedby">Designed By : Puja Patkar</div>
        </div>
    </div>
    </footer>
    <!-- End Footer Area -->