<!-- Start Banner Area -->
<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content">
                    <span>Welcome to Slimnfit</span>
                    <h1>Your Medicine is Your Food</h1>
                    <p>We advise you to cure and prevent disease with nutrition for  living your life in a healthy way Lorem ipsum dolor amet.</p>

                    <div class="banner-btn">
                        <a href="" class="default-btn">
                            View More
                        </a>

                        <a href="" class="default-btn active">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Expertise Area -->
<section class="expertise-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>What We Offer</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-expertise-box">
                    <i class="flaticon-diet"></i>
                    <h3>Personal Nutrition</h3>
                    <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-expertise-box">
                    <i class="flaticon-nutrition"></i>
                    <h3>Dietitian Nutritionists</h3>
                    <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-expertise-box">
                    <i class="flaticon-pyramid"></i>
                    <h3>Nutritious Lifestyle</h3>
                    <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Expertise Area -->

<!-- Start Healthy Life Area -->
<section class="healthy-life-area healthy-life-area-style-three bg-color-three ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="healthy-life-content">
                    <h2>What will your Meal Plan look like</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida amet, consectetur adipiscing.</p>

                    <h3>We Also Offer Online Nutrition Therapy for the Following:</h3>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul class="mb-need">
                                <li>High Blood Pressure</li>
                                <li>Gestational Diabetes</li>
                                <li>Crohn’s Disease</li>
                                <li>Food  Intolerances</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>Eating Disorders</li>
                                <li>Low Energy</li>
                                <li>Lifestyle</li>
                                <li>Fodmap Diets</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="healthy-life-img-3">
                    <img src="../html/assets/images/healthy-life-img-3.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Healthy Life Area -->

<!-- Start About Us Area -->
<section class="about-us-area about-us-area-style-three bg-color-three ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-content">
                    <div class="about-img-1">
                        <img src="../html/assets/images/about-img-5.jpg" alt="Image">
                    </div>

                    <h3><span>25</span> Years of Experience</h3>

                    
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <span>About Slimnfit</span>
                    <h2>Better Eat, Better Life</h2>
                    <h4>If You Get Better Nutrition, You Can Enjoy a Healthy Age</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida  consectetur adipiscing dolore.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eum repellat adipisci amet voluptate, provident recusandae alias necessitatibus, mollitia illo expedita, exercitationem eius assumenda officia optio iste debitis laborum! Dicta consectetur adipisicing elit</p>

                    <a href="https://templates.envytheme.com/aava/default/about-us.html" class="default-btn">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->



<!-- Start Calculate Area -->
<section class="calculate-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="calculate-box ptb-100">
                    <form class="calculate-form">
                        <h3>Calculate Your BMI</h3>

                        <div class="form-group">
                            <label>Height / cm</label>
                            <input type="text" class="form-control" id="Height">
                        </div>

                        <div class="form-group">
                            <label>Weight / kg</label>
                            <input type="text" class="form-control" id="Weight">
                        </div>

                        <div class="form-group">
                            <label>Age</label>
                            <input type="text" class="form-control" id="Age">
                        </div>

                        <div class="form-group">
                            <label>Sex</label>
                            <input type="text" class="form-control" id="Sex">
                        </div>

                        <!--<div class="form-group">
                            <label>Select an activity factor</label>
                            <select style="display: none;">
                                <option value="1">Select</option>
                                <option value="2">If You Are Sedentary (Little or no Exercise)</option>
                                <option value="3">If You Are Active (Light Exercise))</option>
                                <option value="4">If You Are Moderately Active (Moderately Exercise)</option>
                                <option value="5">If You Are Very Active (Moderately Sports 3-5 Days)</option>
                                <option value="6">If You Are Very Active (Moderately Week)</option>
                                <option value="7">If You Are Extra Active (Hard Exercise)</option>
                            </select><div class="nice-select" tabindex="0"><span class="current">Select</span><ul class="list"><li data-value="1" class="option selected">Select</li><li data-value="2" class="option">If You Are Sedentary (Little or no Exercise)</li><li data-value="3" class="option">If You Are Active (Light Exercise))</li><li data-value="4" class="option">If You Are Moderately Active (Moderately Exercise)</li><li data-value="5" class="option">If You Are Very Active (Moderately Sports 3-5 Days)</li><li data-value="6" class="option">If You Are Very Active (Moderately Week)</li><li data-value="7" class="option">If You Are Extra Active (Hard Exercise)</li></ul></div>	
                        </div>-->

                        <button type="submit" class="default-btn">
                            Calculate
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="calculate-img">
                    <img src="../html/assets/images/calculate-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Calculate Area -->

<!-- Start Team Area -->
<section class="team-area team-area-style-three ptb-100" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="section-title">
            <span class="top-title">Listen to Them</span>
            <h2>What our customers say</h2>
        </div>

    </div>
</section>
<!-- End Team Area -->

<!-- Start Appointment Area -->
<section class="appointment-area appointment-area-style-three ptb-100" id="book_appointment">
    <div class="container">
        <div class="appointment-action">
            <h2>Make An Appointment</h2>

            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="Email" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Phone" placeholder="Phone">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker">
                                <input type="text" class="form-control" id="Date" placeholder="Booking Date">
                                <span class="input-group-addon"></span>
                                <i class="bx bx-calendar"></i>
                            </div>	
                        </div>
                    </div>

                    <!--<div class="col-12">
                        <div class="form-group">
                            <select style="display: none;">
                                <option value="1">Type of Service</option>	
                                <option value="2">Health Service</option>
                                <option value="3">Nutrition Service</option>
                                <option value="4">Response Service</option>
                                <option value="5">Testing Service</option>
                                <option value="6">Weight Service</option>
                                <option value="7">Clinical Service</option>
                            </select><div class="nice-select" tabindex="0"><span class="current">Type of Service</span><ul class="list"><li data-value="1" class="option selected">Type of Service</li><li data-value="2" class="option">Health Service</li><li data-value="3" class="option">Nutrition Service</li><li data-value="4" class="option">Response Service</li><li data-value="5" class="option">Testing Service</li><li data-value="6" class="option">Weight Service</li><li data-value="7" class="option">Clinical Service</li></ul></div>
                        </div>
                    </div>-->

                    <div class="col-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="Message" rows="4" placeholder="Your Message"></textarea>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="default-btn">
                            Book Appointment
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Appointment Area -->





<!-- Start Our News Area -->
<section class="our-news-area our-news-area-style-two our-news-area-style-three ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Recipes</span>
            <h2>Featured News And Advice</h2>
        </div>

        </div>
</section>
<!-- End Our News Area -->