<!-- Start Page Title Area 
<div class="page-title-area bg-11">
    <div class="container">
        <div class="page-title-content">
            <h2>Recipes</h2>
            <ul>
                <li> <a href="index.html">
                            Home 
                        </a> </li>
                <li class="active">Recipes</li>
            </ul>
        </div>
    </div>
</div>-->
<!-- End Page Title Area -->
<section class="our-news-area our-news-area-style-two our-news-area-style-three ptb-70">
    <div class="container">
        <div class="section-title">
            <span>Recipes</span>
            <h2>Healthy and Delicious Recipes</h2>
        </div>
        
        <div class="row">
        <div class="col-sm-4">
            <div class="single-news">
                <a href="">
                <img [src]="imageSrc" [alt]="imageAlt"/>
                </a>
                <div class="news-content">
                    <ul>
                        <li>
                        <i class="bx bx-time">Time </i>
                        <a href="">25 mins</a>
                        </li>
                        <li>
                        <i class="bx bx-dish">Serving </i>
                        <span>3 people</span>
                        </li>
                    </ul>
                    <h3>
                    <a routerLink="recipe-detail">
                        Pumpkin and Chickpea pizza with prawns </a>
                    </h3>
                    
                    <a routerLink="recipe-detail" class="read-more">
                    Read More </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="single-news">
                <a href="">
                <img [src]="imageSrc" [alt]="imageAlt"/>
                </a>
                <div class="news-content">
                    <ul>
                        <li>
                        <i class="bx bx-time">Time </i>
                        <a href="">20 mins</a>
                        </li>
                        <li>
                        <i class="bx bx-dish">Serving </i>
                        <span>6 people</span>
                        </li>
                    </ul>
                    <h3>
                    <a href="">
                        Besan Chilla </a>
                    </h3>
                    
                    <a href="" class="read-more">
                    Read More </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="single-news">
                <a href="">
                <img [src]="imageSrc" [alt]="imageAlt"/>
                </a>
                <div class="news-content">
                    <ul>
                        <li>
                        <i class="bx bx-time">Time </i>
                        <a href="">25 mins</a>
                        </li>
                        <li>
                        <i class="bx bx-dish">Serving </i>
                        <span>3 people</span>
                        </li>
                    </ul>
                    <h3>
                    <a href="">
                    7 Steps to Stay Healthy During Times </a>
                    </h3>
                    
                    <a href="" class="read-more">
                    Read More </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    