
<!-- Start Page Title Area -->
<div class="page-title-area bg-11">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li> <a href="index.html">
                            Home 
                        </a> </li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start What We Offer Area -->
<section class="what-we-offer-area services-page-style pt-100 pb-70">
    <div class="container">
        <div class="section-title"> <span>What We Offer</span>
            <h2>Diet & Nutrition Services</h2> 
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let curr_list of service_list">
                <div class="single-what-we-offer">
                    <a href="#"> <img [src]=curr_list.imgSrc alt="Image"> </a>
                    <div class="what-we-offer-content">
                        <h3>
                            <a href="#">{{curr_list.name}}</a>
                        </h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p> <a href="services-details.html" class="read-more">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- End What We Offer Area -->