<section class="calculate-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="calculate-box ptb-70">
                    <!--<form class="calculate-form" (ngSubmit)="onSubmit(f)" #f="ngForm">-->
                    <form class="calculate-form" (ngSubmit)="onSubmit()" #f="ngForm">
                        <h3>Calculate Your BMI</h3>

                        <div class="form-group">
                            <label>Height / cm</label>
                            <input type="text" name="height" class="form-control" id="Height" ngModel required height #height="ngModel">
                            <span class="help-block" *ngIf="!height.valid && height.touched">Please enter a valid weight value!!</span>
                        </div>
                        <div class="form-group">
                            <label>Weight / kg</label>
                            <input type="text" name="weight" class="form-control" id="Weight" ngModel required weight #weight="ngModel">
                            <span class="help-block" *ngIf="!weight.valid && weight.touched">Please enter a valid weight value!!</span>
                        </div>
                        <p *ngIf="">Please enter a valid weight value!!</p>
                        <button type="submit" class="default-btn" [disabled]="!f.valid">
                            Calculate
                        </button>
                    </form>
                </div>
                <div class="bmi_range_tb">
                    <table id="bmi_range">
                        <tr>
                            <th>Bmi Range</th>
                            <th>Category</th>
                        </tr>
                        <tr>
                            <td>&#60; 18.5</td>
                            <td>Underweight</td>
                        </tr>
                        <tr>
                            <td>18.5-25</td>
                            <td>Normal</td>
                        </tr>
                        <tr>
                            <td>25 - 30</td>
                            <td>Overweight</td>
                        </tr>
                        <tr>
                            <td> &#62; 30</td>
                            <td>Obese</td>
                        </tr>
                        
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="calculate-img">
                    <img [src]="calimageSrc" [alt]="calimageAlt" />
                </div>
            </div>
        </div>
    </div>
</section>