<section class="appointment-area appointment-area-style-three ptb-70" id="book_appointment">
    <div class="container">
        <div class="appointment-action">
            <h2>Make An Appointment</h2>

            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="Email" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Phone" placeholder="Phone">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker">
                                <input type="text" class="form-control" id="Date" placeholder="Booking Date" bsDatepicker>
                                <span class="input-group-addon"></span>
                                <i class="bx bx-calendar"></i>
                            </div>
                           
                        </div>
                    </div>

                    <!--<div class="col-12">
                        <div class="form-group">
                            <select style="display: none;">
                                <option value="1">Type of Service</option>	
                                <option value="2">Health Service</option>
                                <option value="3">Nutrition Service</option>
                                <option value="4">Response Service</option>
                                <option value="5">Testing Service</option>
                                <option value="6">Weight Service</option>
                                <option value="7">Clinical Service</option>
                            </select><div class="nice-select" tabindex="0"><span class="current">Type of Service</span><ul class="list"><li data-value="1" class="option selected">Type of Service</li><li data-value="2" class="option">Health Service</li><li data-value="3" class="option">Nutrition Service</li><li data-value="4" class="option">Response Service</li><li data-value="5" class="option">Testing Service</li><li data-value="6" class="option">Weight Service</li><li data-value="7" class="option">Clinical Service</li></ul></div>
                        </div>
                    </div>-->

                    <div class="col-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="Message" rows="4" placeholder="Your Message"></textarea>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="default-btn">
                            Book Appointment
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>